USE [master]
GO
/****** Object:  Database [PR3_ValeraLox]    Script Date: 10.10.2026 10:09:26 ******/
CREATE DATABASE [PR3_ValeraLox]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PR3_ValeraLox', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SERVER_MY\MSSQL\DATA\PR3_ValeraLox.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PR3_ValeraLox_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SERVER_MY\MSSQL\DATA\PR3_ValeraLox_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PR3_ValeraLox].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PR3_ValeraLox]
GO
/****** Object:  Table [dbo].[Clothes]    Script Date: 10.10.2026 10:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clothes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](127) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[PurchaseAmount] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[IsAvailiable] [bit] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Clothes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10.10.2026 10:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10.10.2026 10:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 10.10.2026 10:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Size_str] [nchar](10) NOT NULL,
	[Size_int] [int] NOT NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 10.10.2026 10:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tovar]    Script Date: 10.10.2026 10:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tovar](
	[Clothes] [int] NOT NULL,
	[Size] [int] NOT NULL,
	[AmountAvailiable] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Tovar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TovarOrder]    Script Date: 10.10.2026 10:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TovarOrder](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TovarID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_TovarOrder] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 10.10.2026 10:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10.10.2026 10:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adress] [nvarchar](max) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clothes] ON 

INSERT [dbo].[Clothes] ([ID], [Name], [Description], [PurchaseAmount], [Type], [IsAvailiable], [Price]) VALUES (1, N'Футболка Basic', N'Хлопковая футболка', 10, 1, 1, 1500)
INSERT [dbo].[Clothes] ([ID], [Name], [Description], [PurchaseAmount], [Type], [IsAvailiable], [Price]) VALUES (2, N'Куртка Winter', N'Тёплая зимняя куртка', 5, 2, 1, 7000)
INSERT [dbo].[Clothes] ([ID], [Name], [Description], [PurchaseAmount], [Type], [IsAvailiable], [Price]) VALUES (3, N'Джинсы Slim', N'Синие джинсы', 7, 3, 1, 3500)
SET IDENTITY_INSERT [dbo].[Clothes] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [CreatedAt], [Status], [UserID]) VALUES (1, CAST(N'2026-01-10T10:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Order] ([ID], [CreatedAt], [Status], [UserID]) VALUES (2, CAST(N'2026-02-10T11:30:00.000' AS DateTime), 2, 2)
INSERT [dbo].[Order] ([ID], [CreatedAt], [Status], [UserID]) VALUES (3, CAST(N'2026-03-10T12:15:00.000' AS DateTime), 3, 3)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'user')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'manager')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([ID], [Size_str], [Size_int]) VALUES (1, N'XS        ', 40)
INSERT [dbo].[Size] ([ID], [Size_str], [Size_int]) VALUES (2, N'S         ', 42)
INSERT [dbo].[Size] ([ID], [Size_str], [Size_int]) VALUES (3, N'M         ', 44)
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([ID], [Name]) VALUES (1, N'оформлен')
INSERT [dbo].[Status] ([ID], [Name]) VALUES (2, N'в пути')
INSERT [dbo].[Status] ([ID], [Name]) VALUES (3, N'выдан')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Tovar] ON 

INSERT [dbo].[Tovar] ([Clothes], [Size], [AmountAvailiable], [ID]) VALUES (1, 1, 10, 1)
INSERT [dbo].[Tovar] ([Clothes], [Size], [AmountAvailiable], [ID]) VALUES (2, 3, 5, 2)
INSERT [dbo].[Tovar] ([Clothes], [Size], [AmountAvailiable], [ID]) VALUES (3, 4, 7, 3)
SET IDENTITY_INSERT [dbo].[Tovar] OFF
GO
SET IDENTITY_INSERT [dbo].[TovarOrder] ON 

INSERT [dbo].[TovarOrder] ([ID], [TovarID], [OrderID], [Amount]) VALUES (1, 1, 1, 2)
INSERT [dbo].[TovarOrder] ([ID], [TovarID], [OrderID], [Amount]) VALUES (2, 2, 2, 1)
INSERT [dbo].[TovarOrder] ([ID], [TovarID], [OrderID], [Amount]) VALUES (3, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[TovarOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([ID], [Name]) VALUES (1, N'Футболка')
INSERT [dbo].[Type] ([ID], [Name]) VALUES (2, N'Куртка')
INSERT [dbo].[Type] ([ID], [Name]) VALUES (3, N'Джинсы')
SET IDENTITY_INSERT [dbo].[Type] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Adress], [Login], [PasswordHash], [RoleID], [Phone]) VALUES (0, N'ул. Пушкина 4', N'test', N'AQAAAAIAAYagAAAAELUZySl1CDPfYyqcIq6mdkAqrjAj0psWpPkAf6Phs7yUMjg+jZ67gqLerM1nVCgJTQ==', 1, N'8 800 235 35 35')
INSERT [dbo].[User] ([ID], [Adress], [Login], [PasswordHash], [RoleID], [Phone]) VALUES (1, N'г. Москва, ул. Ленина, д. 1', N'user1', N'AQAAAAIAAYagAAAAEAD8WeBlYvTHSupeiGt1ymUEHR8F+gpt6QJzb5poWDgp76TclnTq8fwXeMGa2e4wcA==', 1, N'+79000000001')
INSERT [dbo].[User] ([ID], [Adress], [Login], [PasswordHash], [RoleID], [Phone]) VALUES (2, N'г. Москва, ул. Пушкина, д. 2', N'user2', N'AQAAAAIAAYagAAAAEHjwFXtpM/2X8bsLtOrJxJ+ZmH1Sul2mb43Ly764ReeL0nldflt/boUy8OLmmXaHDg==', 1, N'+79000000002')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Clothes]  WITH CHECK ADD  CONSTRAINT [FK_Clothes_Type] FOREIGN KEY([Type])
REFERENCES [dbo].[Type] ([ID])
GO
ALTER TABLE [dbo].[Clothes] CHECK CONSTRAINT [FK_Clothes_Type]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Clothes] FOREIGN KEY([Clothes])
REFERENCES [dbo].[Clothes] ([ID])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Clothes]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Size] FOREIGN KEY([Size])
REFERENCES [dbo].[Size] ([ID])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Size]
GO
ALTER TABLE [dbo].[TovarOrder]  WITH CHECK ADD  CONSTRAINT [FK_TovarOrder_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[TovarOrder] CHECK CONSTRAINT [FK_TovarOrder_Order]
GO
ALTER TABLE [dbo].[TovarOrder]  WITH CHECK ADD  CONSTRAINT [FK_TovarOrder_Tovar] FOREIGN KEY([TovarID])
REFERENCES [dbo].[Tovar] ([ID])
GO
ALTER TABLE [dbo].[TovarOrder] CHECK CONSTRAINT [FK_TovarOrder_Tovar]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
